
/* 🔹 Ajuste para WebSocketComponent */
.websocket-container {
    width: 100%;
    height: 100%; /* ✅ Ocupa los 80px */
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column; /* 🔥 Organiza los elementos en columna */
    justify-content: center; /* ✅ Centra los elementos verticalmente */
    align-items: center; /* ✅ Centra los elementos horizontalmente */
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


  
  /* 🔹 Ajustes para líneas de estado */
  .line {
    width: 50%;
    height: 4px; 
  }
  
  .line.closed {
    background-color: red;
  }
  
  .line.open {
    background-color: rgb(14, 172, 14);
  }
  
  .line.connecting,
  .line.closing {
    background-color: orange;
  }
  